.DS_Store
.Rhistory
inference/stan/*.rds
# dataprep/graphs/*.pdf
dataprep/graphs/*.png
inference/graphs/*.pdf
inference/graphs/*.png
model/graphs/*.pdf
model/graphs/*.png
Rplots.pdf
dataprep/graphs/*.txt               #path only relevant to Pete's machine